:{$PORT:8080} {
	encode gzip

	handle /api/* {
		reverse_proxy http://nutripetit.railway.internal:8080
	}

	handle /app/* {
		root * /srv
		try_files {path} /index.html
		file_server
	}

	handle {
		reverse_proxy http://nutripetit.railway.internal:8080
	}
}